body{
    background-color: #252422;
    height: 100vh;
    font-family: "Outfit", sans-serif;           
}
/* HomePage style */
.noDisplay{
    display: none !important;
}
.display{    
    display: flex !important;
}
.main__Section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}
.home__Title{
    font-family: "Outfit", sans-serif;       
    color: #FFFCF2;
    font-size: 1.5rem;
    margin: 0;
}

.login__Section{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input__Title{
    font-family: "Outfit", sans-serif;       
    font-size: 1rem;
    color: #FFFCF2;
    margin-top: 20px;
}
.login__Input{
    background-color: #25242200;
    border-style: solid;
    border-radius: 100px;
    border-width: 1px;
    padding: 5px 10px;
    color: #FFFCF2;
}
.login__Btn{
    width: 100px;
    font-family: "Outfit", sans-serif;       
    color: #FFFCF2;
    font-size: 1rem;
    margin: 30px;
    background-color: #25242200;
    border-style: solid;
    border-radius: 100px;
    border-width: 1px;
    border-color: #FFFCF2;
    padding: 5px 10px;    
}
.login__Btn a{
    text-decoration: none;
    color: #FFFCF2;
}

/* Select Style */

.select__Logo{
    width: 20%;
}
.select__Tagline{
    font-family: "Outfit", sans-serif;           
    font-size: 0.9rem;
    color: #FFFCF2;
    margin-top: 20px;
}
.selection__Container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.select__Button{
    width: 150px;
    height: 150px;    
    background-color: #CCC5B9;    
    border-style: none;
    border-radius: 25px 0 25px 0;    
}
.select__Button:hover{
    background-color: #EB5E28;
    border-style: none;
    border-radius: 5px;   
    transition: 1s; 
}
.select__Button:active{
    background-color: #EB5E28;
    border-style: none;
    border-radius: 0;   
    transition: 1s; 
}
.select__ButtonIcon{
    font-size: 2rem;
}

.goBack__Button{
    width: 150px;
    height: 50px;
    border-radius: 25px 0 25px 0;    
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin: 20px;
}
.comingSoon__Title{
    color: #FFFCF2;
    font-size: 2rem;
    margin: 20px;
}
.button__Style{
    background-color: #252422;
    border-style: none;
}
/* Sale style */
.selectClientTitle{
    color: #FFFCF2;
    margin: 15px;
}
.select__Client{
    margin: 15px;
    width: 150px;
    border-radius: 14px;
    background-color: #252422;
    color: #FFFCF2;
}
.products__Container{
    display: flex;
    gap: 20px;    
    align-items: center;
}
.qty__Input{
    width: 70px;
}
.addBtn{
    background-color: #252422;
    border-style: none;
}
.addIcon{
    color: #EB5E28;
    font-size: 1.5rem;
}
.subtotal{
    margin: 0;
}
.orderTotal{
    color: #FFFCF2;
}
.confirmBtn{
    margin: 15px;
    border-radius: 25px 0 25px 0;
    padding: 10px;
}
.total__Section{
    color: #FFFCF2;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 20px;
    border-color: #EB5E28;
}
/* Clients style */
.client__List{
    color: #FFFCF2;
    margin: 20px;
    list-style: none;
}
/* Product style */
.product__List{
    color: #FFFCF2;
    margin: 20px;
    list-style: none;
}

/* Orders style */
.orders__Container{
    background-color: #CCC5B9;
    border-radius: 15px;
    padding: 20px;
}

@media (max-width: 576px) { 
    .main__Logo{
        width: 300px;
        height: auto;
    }
    /* Select Style */
    .selection__Container{        
        flex-direction: column;        
    }
    
 }